<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>831030586323-unccbjvacbi7fspedoglf7mctmrbomrj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.831030586323-unccbjvacbi7fspedoglf7mctmrbomrj</string>
	<key>API_KEY</key>
	<string>AIzaSyD4kC3nrg99Jw_0MmPhDens-wY1YpF3k4s</string>
	<key>GCM_SENDER_ID</key>
	<string>831030586323</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jeffreysmall.projest</string>
	<key>PROJECT_ID</key>
	<string>projest-8f9a3</string>
	<key>STORAGE_BUCKET</key>
	<string>projest-8f9a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:831030586323:ios:e19b285032ec3ab8715d26</string>
	<key>DATABASE_URL</key>
	<string>https://projest-8f9a3.firebaseio.com</string>
</dict>
</plist>